/** main.scss */
@use 'global' as *;

body{
    background-color: $bg-color;
    background: linear-gradient(to bottom, $bg-color 0%, $color1 80%, #545c4b 100%);
}
.navbar{
    @extend %navbar;
}
main{
    @extend %main;
}
h1{
    color: $color9;
}
input::placeholder{
    color: $white;
}
.signup-form{
    padding: 0;
    margin: 0;
    .input-group-prepend{
        span{
            border: none;
            background-color: $color6;
                i{
                  color: $colormadera;
                }
        }
    }
    input{
        outline: none;
        border: none;
        color: $colormadera;
        background-color: $color6;
    }
    input::placeholder{
      color: $white;
    }
    input:focus{
        outline: none;
        border: none;
        background-color: $color6;
        color: $colormadera;
    }
    .input-group-append{
      button {
        cursor: pointer;
        color: #fff;
        background-color: $colormadera;
        font-size: inherit;
        border-radius: unset;
        padding: unset;
        span{
            background-color: $colormadera;
            border: none;
        }
      }
    }
}
.sesion1{
    h1,h2,h3,h4,p{
      color: $color9;
    }
    .formulario{
        background-color: $black;
        border-radius: $radio;
        padding: 0;
        .card{
            background-color: $black;
            border-radius: $radio;
            height: 100%;
            img{
                width: 100%;
                height: 100%;
                border-radius: $radio 0 0 $radio;
            }
            .card-form-titulo{
              padding: 15px 0;
                h2{
                    color: $colormadera;
                }
            }
            .card-form{
                padding-left: 30px;
                margin-bottom: 20px;
                border-radius: 10px 50px 40px 100px;
                .form-group {
                  .input-group-prepend{
                      .input-group-text{
                          background-color: $black;
                          color: white;
                          border: none;
                          i{
                              color: $colormadera;
                          }
                      }
                  }
                  input{
                      border: none;
                      outline: none;
                      color: $colormadera;
                      background-color: $black;
                      border-bottom: 1px solid #fff;
                  }
              }
              button{
                padding: 5px 30px;
                background-color: $colormadera;
                color: $black;
                border-radius: 230px;
                font-weight: 700;
              }
            }
        }
    }
}
.post{
    background-color: $color10;
}
.features{
    background-image: url("assets/background/bg3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    .feature-card{
      position: relative;
      box-shadow: $sombra;
      .feature-content{
        z-index: 1;
      }
      // overflow: visible;  
    }
    .feature-hover{
      position: absolute;
      top: -185px;
      left: -150px;
      width: 200px;
      height: 200px;
      border-radius: 50%;
      transition: $transcision;
    }
    .feature1{
      background-color: $colorcard1;
    }
    .feature2{
      background-color: $colorcard2;
    }
    .feature3{
      background-color: $colorcard3;
    }
    .feature4{
      background-color: $colorcard4;
    }
    .feature-card:hover{
       .feature-hover{
          transform: scale(8);
       }
        .feature-content{
          h2,p{
            color: $white;
          }
          a{
            color: $color1;
          }
       }
    }
}

//CARDS DE BLOG
.card-blog {
    margin: 40px 6px;
    .card-blog-image {
        height: 60%;
        position: relative;
        overflow: hidden;
        margin-left: 15px;
        margin-right: 15px;
        margin-top: -30px;
        border-radius: 6px;
        box-shadow: $sombra;
        img {
            width: 100%;
            height: 100%;
            border-radius: 6px;
        }
        .card-blog-metadata{
            padding: 5px 0;
            font-size: 0.8rem;
            .category{
                color: $light-green-text;
            }
            .read-time{
              color: $color9;
            }
        }
    }
    .card-blog-body {
        margin-top: 30px;
        padding: 0 2rem;
        .card-blog-title{
            color: $color9;
        }
        .card-blog-description{
            font-size: $text-parrafo;
            a {
                text-decoration: underline;
            }
        }
    }
    .card-blog-footer {
        margin-top: 20px;
        margin-bottom: 80px;
        text-align: center;
        .card-blog-autor{
            font-size: 1rem;
            font-weight: 800;
            color: black;
        }
        .card-blog-avatar {
            max-width: 90px;
            max-height: 90px;
            margin: -50px auto 0;
            margin-top: 10px;
            margin-bottom: -150px;
            border-radius: 50%;
            overflow: hidden;
            box-shadow: $sombra;
            img{
              max-width: 100px;
              max-height: 100px;
            }
        }
    }
}



























.blog {
  background-color: $white;
  max-width: unset;
  padding: 5% 10%;

  .title {
    @extend %base-title;
  }

  .process-list {
    margin-top: 40px;
    margin-bottom: 36px;

    .process {
      margin-bottom: 25px;

      & > div {
        & > h3 {
          color: $dark-green-title;
          margin-bottom: 0;
          font-size: 30px;
          font-weight: 500;
        }
        & > p {
          color: $dark-green-text;
          margin: 0;
        }
      }

      .process-icon {
        width: 60px;
        height: 60px;
        margin-right: 10px;
        text-align: center;

        img {
          height: 100%;
        }
      }
    }
  }

  button {
    height: auto;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 12px;
    width: 180px;
    margin-bottom: 15px;
  }
  // .card{
  //   .card-title{
  //     color: $card-title;
  //   }
  //   .card-text{
  //     color: $card-text;
  //     font-size: 18px;
  //     a{
  //       text-decoration: underline;
  //     }
  //   }
  //   .metadata{
  //     font-size: 0.8em;
  //     .category{
  //       color: $light-green-text;
  //     }
  //   }
  //   .author{
  //     img{
  //     border-radius: 50%;
  //     width: 40px;
  //     height: 40px;
  //     }
  //     p{
  //       font-size: 15px;
  //       font-weight: 800;
  //       color: black;
  //       margin-left: 10px;
  //     }
  //   }
  // }
  
}

footer{
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000 100%), url("../assets/background/bg0.jpg");
    background-size: cover;
    background-position: center;
    .container{
        padding-top: 100px;
            .card{
                background-image: linear-gradient(rgb(255, 0, 0, 0.2) 0%,  rgb(255, 0, 0, 0.7) 100%), url("../assets/images/tarjeta.jpg");
                background-size: cover;
                background-position: center;
                height: 500px;
                border: none;
                border-radius: 10px;
                box-shadow: $sombra;
                transition: $transcision;
                .card-body{
                  padding-top: 4rem;
                  transition: $transcision;
                  img{
                      height: 80px;
                      width: 80px;
                      border-radius: 50%;
                      box-shadow: $sombra;
                      transition: $transcision;
                  }
                  h5{
                    transition: $transcision;
                    margin: 1.5rem 0;
                  }
                }
                .card-content{
                    padding-left: 1rem;
                    margin-bottom: 20px;
                    transition: $transcision;
                    h3{
                      margin-bottom: 0px;
                      color: $colormadera;
                    }
                    p {
                      color: $colormadera;
                      font-size: 15px;
                      margin-left: 150px;
                      margin-top: 0px;
                    }
                }
                .card-footer{
                  transition: $transcision;
                  .icon-block{
                    .fab{
                      color: $color1;
                      margin: 5px;
                    }
                  }
                }
            }
            .card:hover{
              filter: grayscale(10);
              .card-body{
                transform: translateY(20px);
                img{
                    // filter: blur(1px);
                    transform: scale(1.3);
                }
                h5{
                  transform: scale(1.3);
                }
              }
              .card-content{
                transform: translateY(-20px);
                h3,p{
                  color: $white;
                }
              }
              .card-footer{
                transform: translateX(-50px);
                .icon-block{
                  a{
                    margin: 0 20px;
                  }
                }
              }
            }
        
    }
}

/** dispositivos móviles en vista viewport (vertical) */
@media (max-width: 575px) {
    .formulario{
        .no-movil{
            display: none;
        }
    }
    .features{
        .feature-content{
            position: relative;
            z-index: 1;
        }
    }
    .blog{
        .col{
            margin: 30px 40px;
        }
    }
    footer{
        .row{
            .col-sm{
                .card{
                  margin: 30px 80px;
                }
            }
        }
    }
}