.ayuda{
    color: #7c8484;
    color: #242c2c;
    color: #7a7c7c;
    color: #666c6c;
    color: #e4e4e4;

}
/*  SESION 1 */
body {
    /* background-color: #e4e4e4; */
    background-color: #e61212;
    /* background-image: url('https://pro2-bar-s3-cdn-cf.myportfolio.com/67cf45ca-338d-4fd0-943b-32d96162976a/b7b52d14-b827-4c3a-906f-3b94fa13f35f_rw_1920.png'); */
}
  
h1 {
    color: #46484c;
    text-align: center;
}

p {
    color: #8b8b8bcc;
    font-family: verdana;
    font-size: 20px;
}

button {
    color: #fff;
    background-color: #025157;
}

/* SESION 2 */
.header {
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 0;
    line-height: 45px;
    font-family: sans-serif;
}

li {
    display: inline;
}

.header > * {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    height: 100%;
    line-height: 45px;
}

.logo { 
    width: 15%;
}

.logo > img {
    height: 100%;
}

.navbar {
    width: 65%;
    text-align: center;
    color: #025157;
    font-weight: 500;
}

.item{
    margin-left: 25px;
    margin-right: 25px;
}

.actions {
    width: 20%;
    text-align: right;
    font-size: 14px;
    font-weight: 600;
}

.actions > *{
    margin-left: 10px;
    margin-right: 10px;
}

.actions > a{
    color: #67b54b;
}

.actions > button{
    color: #fff;
    background-color: #67b54b;
    padding: 12px 14px 12px 14px;
    border: none;
    border-radius: 5px;
}