/* MOBILE FIRST */

/** dispositivos móviles en vista viewport (vertical) */
@media (max-width: 575px) {
    /* .navbar, .actions{
        display: none;
    } */
    h1{
        font-size: 2em;
    }
    main{
        margin-top: 0;
        padding: 2vh 0 2vh 0;
    }
    .subscribe{
        margin: 1px;
        padding: 0;
        background-color: black;
    }
    .subscribe > div > input{
        width: 50%;
    }
    .promo{
        flex-direction: column;
        margin: 2vh 2vw;
        align-items: flex-start;
        max-width: 90%;
    }
    .publicidad{
        margin: 0 2vw;
    }
    .publicidad > h3{
        font-size: 1.5em;
    }
    .publicidad > p{
        font-size: 1em;
        line-height: 20px;
    }
    .post{
        flex-direction: column;
        width: 100%;
    }
    .brands{
        width: 320px;
    }
    .brands img{
        width: 100%;
    }
    .features{
        grid-template-columns: 1fr;
        padding: 1vh 1vw;
    }
    .feature-content{
        padding: 2vh 1vw;
    }
    .feature-content > img{
        height: 15%;
        width: 15%;
    }
    .feature-card{
        margin: 5px;
        padding-left: 20px;
        display: block;
    }
    .feature-image > img{
        display: none;
    }
    .platform{
        grid-template-columns: 1fr;
        padding: 5vh 5vw;
    }
    .platform-card{
        width: 100%;
        position: relative;
    }
    .platform-card > h2{
        text-align: start;
        padding: 10vh 5vw 0 5vw;
    }
    .platform-card > p{
        font-size: 1em;
        padding-right: 30vw;
    }
    .platform-image{
        position: absolute;
        top: 25px;
        right: 0;
        width: 30vw;
        height: 30vh;
    }








    
    
    

    
}
  
/** dispositivos pequeños en vista landscape (horizontal) */
@media (min-width: 576px) and (max-width: 767px) {
    
}
  
  /** dispositivos medianos (tablets) */
@media (min-width: 768px) and (max-width: 991px) {
    
}
  
  /** dispositivos grandes (desktops) */
@media (min-width: 992px) and (max-width: 1199px) {
    
}
  
  /** dispositivos extra grandes (monitores grandes, tvs) */
@media (min-width: 1200px) {
    
}