/* COLORES bosque verde */
:root{
    --fondooscuroprimario: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2));
    --fondooscurosecundario: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    --fondooscurotres: linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.4)); /*borrar?*/

    --fondoprimario: #d9d476;
    --fondosecundario: #E5EAED;
    --fondotres: #5A6260;
    --fondocuatro: #5e8890;

    --letra-principal: #1b741c; /*rgb(27,116,28)*/
    --letra-secundaria: #9FB78E;
    --letra-tres:   #ebf4f3;
    --letra-uno: #0b2209; /*rgb(11,34,9)*/
    --letra-parrafo: #46593E;
    --letra-strong: #dcf6a1;/*0B2209 letra de btn*/
    --letra-menu: #D9D476;
    --fuente: fantasy;
    --colorbtn: #1b741c;
    --colorinput: #BFB06E;
    --colorbtnhover: #667B47;/*#D9D476;*/
    ;/*rgb(0,86,129)*/
    --verdeclaro: #67b54b;
}
body {
    margin: 0px;
    background-color: var(--fondoprimario);
    /* background-color: var(--fondoprimario); */
    /* background-image: var(--fondooscuroprimario), url(fondo_verde.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover; */
    /* position: relative; */
    font-family: "Open Sans", sans-serif;
}
.seccion1{
    display: none;
}
main{
    padding: 45px 0 60px 0;
    background-image: var(--fondooscuroprimario), url(fondo_verde.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
h1 {
    color: var(--letra-principal);
    font-family: var(--fuente);
    font-size: 3em;
    font-weight: 900;
    margin-bottom: 1vh;
}
h4{
    color: var(--letra-secundaria);
    font-family: "Slabo 27px", serif;
    font-size: 1.25em;
    font-weight: 500;
    margin-bottom: 4vh;
}
p {
    color: var(--letra-parrafo);
    font-family: verdana;
    margin-top: 2vh;
    font-size: 1.25em;
}
strong{
    color: var(--letra-strong);
}
.capterra{
    /* display: flex; */
    /* justify-content: center; */
    margin-bottom: 5vh;
}
button {
    cursor: pointer;
    color: #fff;
    background-color: var(--colorbtn);
    border: 0px;
    font-size: inherit;
    border-radius: 10px;
    padding: 15px 20px 15px 20px;
}
.main{
    margin: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-image: var(--fondooscurosecundario);
}
.subscribe{
    margin: 2vh 0;
    background-color: var(--colorinput);
    border-radius: 10px;
    box-shadow: 1px 1px 10px #000;
}
.subscribe input[type=email]{
    text-decoration: none;
    color: var(--letra-uno);
    cursor: text;
    font-size: inherit;
    padding: 10px;
    border: none;
    border-radius: 10px 0 0 10px;
    background-color: var(--colorinput);
}
.subscribe input[type=email]::placeholder{
    color: var(--letra-tres);
}
.subscribe input[type=email]:focus{
    outline: none;
    border-left: 20px solid rgba(27, 116, 28, 0.8);
}
.subscribe input[type=email]:hover{
    border-left: 20px solid rgba(27, 116, 28, 0.8);
}
.subscribe button{
    color: var(--letra-tres);
    cursor: pointer;
    font-size: inherit;
    padding: 10px;
    margin-left: 0;
    border: none;
    border-radius: 0 10px 10px 0;
    background-color: var(--colorbtn);
}
.subscribe button:hover{
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25);
    background-color: var(--colorbtnhover);
    color: white;
}
/* SESION 2 */
.header {
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 0;
    line-height: 45px;
    font-family: sans-serif;
}
li {
    display: inline;
}
.fixed-header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    /* background-color: var(--fondosecundario); */
    background-image: var(--fondooscurosecundario), url(fondo_verde.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.header > * {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    height: 100%;
    line-height: 45px;
}
.logo { 
    width: 15%;
}
.logo > img {
    height: 100%;
    background-color: #fffbf7;
    border-radius: 6px;
    opacity: 0.7;
}
.navbar {
    width: 65%;
    text-align: center;
    color: var(--letra-menu);
    font-weight: 500;
}
.item{
    margin-left: 25px;
    margin-right: 25px;
}
.actions {
    width: 20%;
    text-align: right;
    font-size: 14px;
    font-weight: 600;
}
.actions > *{
    margin-left: 10px;
    margin-right: 10px;
}
.actions > a{
    color: var(--fondoprimario);
    font-weight: 800;
}
.actions > button{
    color: #fff;
    background-color: #67b54b;
    padding: 12px 14px 12px 14px;
    border: none;
    border-radius: 5px;
}





/* SESION 3 */
.promo{
    display: flex;
    justify-content: center;
    width: 70%;
    margin: 100px auto;
    align-items: center;
    /* background-image: var(--fondooscurosecundario); */
}
.video{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.video img {
    width: 120px;
    margin-top: 10px;
}
.publicidad{
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.publicidad h3{
    font-family: 'Segoe UI', Verdana, sans-serif;
    font-size: 2.5em;
    line-height: 40px;
    color: var(--letra-principal);
}
.publicidad > p{
    font-size: 16px;
    color: var(--letra-parrafo);
    line-height: 1.5;
    margin-bottom: 20px;
}



/* pOSTWORK SESION 3 */
.post{
    /* background-image: var(--fondooscurosecundario); */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
/* MARCAS PATROCINADORES O LO QUE SEA*/
.brands{
    width: 700px;
    display: flex;
    /* display: wrap; */
    flex-direction: column;
    align-items: flex-start; /*PARA BOTON alineado a izquierda :) */
}   
.brands img{
    width: 500px;
}
/* Tarjeta */
.brands-card-container{
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 348PX;
}
.brands-card {
    background-color: #FFFFFF;
    font-family: Impact;
    border-radius: 10px;
    margin-bottom: 10px;
}
.brands-card-header img{
    height: 350px;
    width: 350px;
}
.brands-card-floating-btn{
    position: relative;
    float: right;
    padding: 50px 25px;
    top: -100px;
    right: 20px;
    border-radius: 50%;
    background-color: orange;
}
.brands-card-body{
    padding: 20px;
}
.brands-card-title{
    color: #025157;
    font-size: 20px;
}
.brands-card-descripcion{
    color: #000;
    font-size: 28px;
}
.brands-card-ads{
    display: flex;
    align-items: center;
    color: #7b7c7e;
}
.brands-card-ads p{
    margin-left: 15px;
    color: var(--letra-parrafo);
}
.brands-card-footer{
    padding: 0 15%;
}
.brands-card button{
    width: 100%;
}




/* SESION 4 */
.features{
    display: grid;
    grid-template: repeat(2, 350px) / repeat(2, 1fr);/* rows/column */
    padding: 10vh;
    background-color: var(--letra-principal);
}
.feature-card{
    background-color: white;
    margin: 15px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}
.feature-card:hover{
    background-color: var(--letra-parrafo);
    transition: all 600ms;
}
.feature-card:hover .feature-card-image{
    transform: translateX(-15px);
    transition: all 800ms;
}
.feature-card:hover > .feature-card-content > h2{
    color: white;
}
.feature-card-icon > img{
    height: 5vh;
    width: 5vh;
    position: absolute;
    top: 1vh;
    left: 1vw;
}
.feature-card-content{
    margin-top: 6vh;
    margin-right: 7vw;
    padding-left: 40px;
}
.feature-card-content > p{
    color: var(--letra-secundaria);
}
.feature-card-image{
    position: absolute;
    top: 5vh;
    right: -3vw;
    width: 25%;
    height: 65%;
}
.feature-card-image > img{
    height: 100%;
}
.feature-card-footer{
    position: absolute;
    bottom: 0;
    padding: 1vh 0;
    width: 100%;
    border-top: 1px solid var(--letra-uno);
    text-align: center;
    background-color: var(--letra-strong);
    border-radius: 0 0 10px 10px;
}
.feature-card-footer > a{
    text-decoration: none;
    color: var(--letra-uno);
    font-weight: 700;
}












.platform-before{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0vh 10vh;
    padding: 3vh;
}
.platform-before a{
    color: var(--letra-principal);
    text-decoration: none;
}
.platform-before p{
    color: var(--letra-parrafo);
    text-decoration: none;
}
.platform{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5vh;
    margin-top: 10vh;
    padding: 15vh;
    background-color: var(--letra-principal);
}
.platform-card{
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #242c2c;
    
    overflow: hidden;
}
.platform-card-body{
    height: 65vh;
    width: 240px;
    /* areglar */
}
.platform-icon{
    margin: 2vh 0 0 2vh;
    position: absolute;
    height: 20px;
    width: 20px;
}
.platform-image{
    position: relative;
    margin-left: 3vw;
    width: 30vh;
    height: 40vh;
}
.platform-card-body > h2{
    color: var(--letra-principal);
    text-align: center;
    margin: 0;
}
.platform-card-body > p{
    padding: 0 4vh 0 4vh;
    color: var(--letra-secundaria);
    font-size: 1em;
    width: 79%;
}
.platform-card-footer{
    padding: 10px;
    border-top: 1px solid var(--letra-uno);
    text-align: center;
    background-color: var(--letra-strong);
    border-radius: 0 0 10px 10px;
}
.platform-card-footer > a{
    text-decoration: none;
    color: var(--letra-uno);
    font-weight: 700;
}